.styled-button-1 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #68798BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.styled-button-1:hover {
    background-color: #1F2328FF;
}

.styled-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.styled-button:hover {
    background-color: #0056b3;
}
